{%extends 'layout.njk' %}

{%block title%}
    <title>Foodfy</title>
    {%endblock%}

    {% block content%}
        <main>
            <section class="recipe">
                <div id="img">
                    <img src="{{item.image}}" alt="">
                    <h3>{{item.title}}</h3>
                    <p>{{item.author}}</p>
                </div>

                <div id="ingredientes">
                    <div class="subtitle">
                        <h1>Ingredientes</h1>
                    </div>
                    <ul class='hide-ingredientes '>

                        {%for ingredient in item.ingredients%}
                            <li>{{ingredient}}</li>

                            {%endfor%}
                        </ul>
                    </div>
                    <div id="prepare">
                        <div class="subtitle">
                            <h1>Modo de preparo</h1>
                        </div>
                        <div class=''>{{item.preparation}}</div>
                    </div>

                    <div id="information">
                        <div class="subtitle">
                            <h1>Informações adicionais</h1>
                        </div>
                        <p class='hide-information '>{{item.information}}</p>
                    </div>
                </section>
            </main>

            <script src="/script.js"></script>
{%endblock%}